# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.workspace/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.sqlite3

# Artifacts (optional if large)
# artifacts/