version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spotify_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/spotifydb

  db:
    image: postgres:15
    container_name: spotify_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: spotifydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: